<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="microsoft.css">

</head>
<body>
    <div class="container">
     <div class="container2">
        <ul>
            <img src="c:\Users\Prinnaik\Pictures\micro.png" alt=""class="img1">
            <li class="list1">Microsoft 365</li>
            <li class="list2">office</li>
            <li class="list3">windows</li>
            <li class="list4">Xbox</li>
            <li class="list5">support</li>
        </ul>
        <div>
       <video src=""></video>
         
        
            <img src="body.avif" alt="" ><h2 class="section1">Microsoft 365</h2>
          
                <p> Turn your ideas into reality, stay safer online and off, and</p>
                <span> focus on what matters most with Microsoft 365 apps</span>
            
            <button>for 1 person </button> <a href="">For up to 6 people</a>
        </div>
        <div class="img_container">
          <div class="semi_img_container" >
            <img src="img1.jpeg" alt="">
                <h2>Designed for life today—
                    and tomorrow</h2>
                <span class="spn2">The next-generation of games. Your goals. Friends and family. Windows 11 was made to bring you closer to everything you
                love.</span> 
                <a href="" class="anchor">see if your PC is ready ></a>
          </div>
      
        <div class="semi_img_container">
            <img src="edge.webp" alt="">
            <h2>Microsoft Edge</h2>
            <span class="spn3">World-class performance with more privacy, more productivity, and more value while you browse.</span>
            <a href="" class="anchor2">Download now > </a>
        </div>
        <div class="semi_img_container">
        <img src="img2.webp" alt="">
         <h2>Microsoft OneDrive</h2>
         <span class="spn4">Save your files and photos to OneDrive and access them from any device, anywhere.</span>
          <a href="" class="anchor3">Learn more ></a>
        </div>
        <div class="semi_img_container">
        <img src="img3.webp" alt="">
        <h2>OneNote</h2>
        <span class="spn5">Organize your notes and your life.</span>
        <a href="" class="anchor3">Learn more ></a>
        </div>
     </div >
    <div>
        <img src="img4.webp" alt="" class="img9">
       
    </div>
     <h1 class="section2">For business</h1>
    <div class="img_con2 ">
        <div class="semi_img_container2">
            <img src="img5.webp" alt="">
            <h2>Get Microsoft Teams for free</h2>
            <span class="spn6">Online meetings, chat, and shared cloud</span>

                 <span class="spn6">storage —all in one place.</span>
        </div>
        <div class="semi_img_container2" >
            <img src="img6.webp" alt="">
            <h2>Try Microsoft 365 for free</h2>
            <span class="spn6" >Get Microsoft Teams, secure cloud</span> <span class="spn6"> storage, and premium apps across</span><span class="spn6"> with a free one-month</span> Microsoft 365 Business
            Standard trial.</span>
        </div>
        <div class="semi_img_container2">
            <img src="img7.webp" alt="">
            <span class="spn7">Welcome to your </span>
            <span class="spn7">Windows 365 Cloud PC</span>
            <span class="spn10">Securely stream your Windows</span><span> experience from the Microsoft cloud to any</span><span>device.</span>
        </div>
        <div class="semi_img_container2">
            <img src="img8.webp" alt="">
          <h2>Visual Studio 2022</h2>
          <span>Get the most comprehensive IDE for</span><span> and C++ developers on Windows</span><span> for building web, cloud, desktop, mobile apps,</span>
        services, and games.</span>
    </div>
    </div>
    </div>
</body>
</html>